.profile-box {
    background-color: white;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    padding-top: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.profile-img-cover {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    left: 20px;
    top: 20px;
    margin-bottom: 20px;
}

.profile-img-cover img {
    width: inherit;
    height: inherit;
    border-radius: inherit;
}

.profile-wrapper {
    margin-top: 10px;
}

.profile-name {
    font-weight: bold;
    font-size: 21px;
    margin-bottom: 5px;
}

.profile-username {
    color: #999595;
    font-size: 17px;
    font-weight: bold;
}

.profile-followers {
    font-size: 13px;
    margin-right: 10px;
    display: inline-block;
    font-weight: bold;
}

.profile-followers span {
    color: #66008C;
    margin-right: 5px;
}

.profile-footer {
    border-top: 1px solid #E0DDDD;
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.profile-footer a {
    color: #6E75A0;
    padding: 15px 6px;
    font-size: 14px;
    display: inline-block;
    text-align: center;
}

.profile-footer a.active span::before {
    content: "";
    height: 3px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -17px;
    background-color: #66008C;
}

.profile-footer a.active {
    color: #66008C;
}

@media (min-width:400px) {
    .profile-footer a {
        font-size: 17px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (min-width:500px) {
    .profile-box {
    }
}

@media (min-width:500px) {
    .profile-img-cover {
    }
}

@media (min-width:500px) {
    .profile-wrapper {
        margin-top: 20px;
        margin-bottom: 0px;
    }
}

.change-image {
    position: absolute;
    right: -6px;
    background-color: #66008C;
    color: white;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    bottom: 12px;
}

.change-image:hover {
    color: white;
}

.summary .fas {
    position: absolute;
    right: 20px;
    top: 35px;
    color: #c4c4c4;
    font-size: 28px;
}